---
import Page from '../components/astro/Page.astro';
---

<Page title="esp.ac">
    <div class="container">
        <div class="vertical">
            <h1>Hi! I'm Esp.</h1>
            
            <h1 class="horizontal">GitHub: <a href="https://github.com/futuroptimist">futuroptimist</a></h1>
            <h1 class="horizontal">Twitter: <a href="https://x.com/EspToTheFuture">EspToTheFuture</a></h1>
            <h1 class="horizontal">Project: <a href="https://democratized.space">democratized.space</a> (DSPACE)</h1>
        </div>
    </div>
</Page>

<style>
    :global(body) {
        background: #000;
        color: #fff;
    }

    .vertical {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        padding: 20px;
    }

    h1 {
        gap: 10px;
    }

    .horizontal {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    a:link, a:visited {
        color: #fff;
    }
</style>